# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/discord?pgbouncer=true&connect_timeout=10

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=


# LiveKit Configuration
LIVEKIT_API_SECRET=livekit_api_secret
LIVEKIT_API_KEY=
NEXT_PUBLIC_LIVEKIT_URL=

NEXT_PUBLIC_SOCKET_URL=http://localhost:3000